@import './common/variables';

.cancelWrap {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: $border;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelButtonImg {
  width: 5px;
  height: 5px;
}
