.comment {
  display: flex;
  /* width: 100%; */
  /* padding: 5px; */
  padding: 0 5%;
  text-align: center;
}
.comment:hover .deleteComment {
  display: block;
}

.comment p {
  font-size: 0.5rem;
  text-align: left;
  word-break: break-all;
}

.postIssuerName {
  font-size: bold;
  margin-right: 3px;
  min-width: 60px;
}
.commentImage {
  width: 20px;
  height: 20px;
  z-index: 100;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.commentMsg {
  min-width: 40px;
}
.deleteComment {
  width: 10px;
  height: 10px;
  margin-top: 10px;
  display: none;
}
.commentMsg:focus {
  outline: 0.5px solid transparent;
}
.commentLike {
  margin-left: auto;
  /* border: gainsboro 1px solid; */
  min-width: 60px;
  display: flex;
}
