.comment {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* padding: 5px; */
  padding: 0 5%;
  text-align: center;
  min-height: 40px;
  font-size: 0.8rem;
  /* border: 1px solid black; */
}
/* .comment:hover .deleteComment {
  display: block;
} */

.comment p {
  text-align: left;
  word-break: break-all;
}

.postIssuerName {
  font-size: bold;
  margin-right: 3px;
  min-width: 60px;
}
.commentImage {
  width: 25px;
  height: 25px;
  z-index: 100;
  border-radius: 50%;
  margin-right: 10px;
}

.commentMsg {
  min-width: 40px;
}
.deleteComment {
  width: 10px;
  height: 10px;
  margin: 10px 0 10px 0;
  display: block;
  /* display: none; */
}
.commentMsg:focus {
  outline: 0.5px solid transparent;
}
.commentLike {
  margin-left: auto;
  /* border: gainsboro 1px solid; */
  min-width: 60px;
  display: flex;
}
