button:focus {
  outline: 0px;
  border: 1px solid white;
  border-radius: 5px;
}

.modelWrap {
  width: 100%;
}

.topModel {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.separater {
  /* border: 1px solid red; */
  width: 99%;
  margin: auto;
  border: 1px solid rgba(239, 239, 239);
}

.buttonModal {
  display: flex;
  width: 100%;
  /* min-height: 620px; */
  justify-content: space-between;
}

.leftModel {
  width: 48%;
  align-items: center;
  justify-content: center;
}

.rightModel {
  width: 50%;
  text-align: center;
  align-items: center;
  min-height: 300px;
  margin-top: 10px;
}

#postMsg {
  border: 1px solid black;
  height: 40%;
}
.postTime {
  font-size: 10px;
}
.cancelButton {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 15px;
  background: rgb(250, 250, 250);
  cursor: pointer;
  z-index: 1000;
}

.cancelButtonImg {
  width: 15px;
  height: 15px;

  float: right;
}

.deleteBlockSubTitle {
  margin-top: 0px;
  margin-bottom: 5px;
}

.decideBlock input {
  display: none;
}
.labeluploadPic {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.uploadButton {
  background-color: black;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}
.decideButton {
  background-color: black;
  width: 80px;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
}
.postPopupRightModel {
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  /* border: cornflowerblue 1px solid; */
}
.decideBlock {
  /* border: black 1px solid; */
  width: 100%;
  height: 100%;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
}
.decideBlockMsg {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.postMsgInput {
  width: 98%;
  border: 1px solid rgba(239, 239, 239);
  border-radius: 5px;
  background: rgba(250, 250, 250);
  font-size: 18px;
  max-height: 250px;
}
.postMsgInput:hover {
  outline: none;
  border: rgb(187, 140, 47) 1px solid;
}

.postMsgInput:focus {
  outline: none;
  border: rgb(187, 140, 47) 1px solid;
}
.postSearch {
  width: 99%;
  margin: 10px auto;
}
.searchButtonBlock {
  width: 100%;
}

@media (max-width: 768px) {
  .buttonModal {
    display: block;
    width: 100%;
  }
  .leftModel {
    display: flex;
    width: 100%;
  }
  .rightModel {
    width: 100%;
    min-height: 200px;
  }

  .postPopupRightModel {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    border: cornflowerblue 1px solid;
  }
  .decideBlockMsg {
    /* border: black 1px solid; */
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
  }
  .postMsgInput {
    width: 98%;
    border: 1px solid rgba(239, 239, 239);
    border-radius: 5px;
    background: rgba(250, 250, 250);
    font-size: 18px;
    max-height: 90%;
  }
  .postSearch {
    width: 99%;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .decideButton {
    background-color: black;
    width: 60px;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    content: 'Select some files';
    cursor: pointer;
    padding: 5px;
  }
}
