* {
  color: #3f3f3f;
}

body {
  background: rgba(250, 250, 250);
  position: relative;
}
.headerWrap {
  z-index: 3;
  top: 0px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
}
nav {
  max-width: 975px;
  margin: auto;
}

.navWrap {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.navIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.storyCirclePlus {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: 50px;
  padding: 3px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(187, 140, 47);
  border: 1px solid rgb(187, 140, 47);
  color: rgb(255, 255, 255);
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  margin: 20px auto 0px 0px;
  cursor: pointer;
}

/* search */
.search {
  max-width: 500px;
  min-width: 100px;
  width: 50%;
  margin: auto;
  max-height: 30px;
  height: 30px;
  /* overflow: hidden; */
}

.loginPopContain {
  /* align-self: start; */
  height: 350px;
  display: flex;
  /* background-color: rosybrown; */

  justify-content: space-around;
}

.loginWrap {
  /* background-color: blueviolet; */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
  width: 300px;
  height: 100%;
}
.loginTitle {
  width: 280px;
  display: flex;
  font-size: 2rem;
  color: #3f3f33;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.loginTitle img {
  width: 100%;
}
.title1 {
  font-size: 1rem;
}
.title2 {
  font-size: 1.5rem;
}
.text {
  font-size: 1rem;
}
.google {
  text-align: center;
  width: 80%;
  height: 45px;
  /* background: red; */
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #3f3f3f;
  line-height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.google:hover {
  background-color: rgb(240, 68, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(240, 68, 54);
}

.googleIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 50px;
}
.facebookIcon {
  width: 20px;
  height: 25px;
  border-radius: 50%;
}
.facebook {
  text-align: center;
  width: 80%;
  height: 45px;
  /* background: blue; */
  border-radius: 8px;
  margin-top: 10px;
  color: #3f3f3f;
  line-height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.facebook:hover {
  background-color: rgb(59, 89, 153);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(59, 89, 153);
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  nav {
    height: 60px;
    display: flex;
    padding: 0px;
    align-items: center;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
  nav {
    height: 60px;
    display: flex;
    padding: 0px;
    align-items: center;
  }
  .search {
    width: 100px;
    margin: auto;
    max-height: 30px;
    height: 30px;
    /* overflow: hidden; */
  }
  .navIcon {
    margin-right: 5px;
  }
  .loginTitle {
    display: none;
  }
} ;
