body {
  background: rgba(250, 250, 250);
}

nav {
  height: 60px;
  display: flex;
  padding: 0px 30px;
  align-items: center;
}

.navIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  margin: 0px 10px;
  cursor: pointer;
}

.button {
  width: 50px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin: 10px;
  cursor: pointer;
  font-family: 'Apple Chancery', sans-serif;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  margin: 0px auto 0px 0px;
  cursor: pointer;
}

/* search */
.search {
  max-width: 500px;
  min-width: 100px;
  width: 300px;
  margin: auto;
  max-height: 30px;
  height: 30px;
  /* overflow: hidden; */
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  nav {
    height: 60px;
    display: flex;
    padding: 0px;
    align-items: center;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
  nav {
    height: 60px;
    display: flex;
    padding: 0px;
    align-items: center;
  }
} ;
