.loading {
  animation: fadeIn 1s infinite alternate;
  height: 3em;
  width: 3em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Extra junk */

html,
body {
  height: 100%;
}

.loading {
  margin: auto;
}
