/* storypopup */

.buttonModal {
  max-height: 600px;
  min-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

.grid {
  -webkit-column-count: 4;
  -webkit-column-gap: 1px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 1px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 1px;
  column-fill: auto;
  width: 100%;
  overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
}
.blockWrap {
  position: relative;
}

.block {
  display: block;
  word-wrap: break-word;
  margin-bottom: 2px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  cursor: pointer;
  width: 100%;

  /* column-break-inside: avoid; */
}

.pickPicCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  position: absolute;
  right: 3px;
  text-align: center;
  justify-content: center;
  padding: 1px;
}

.pickCoverCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  position: absolute;
  right: 30px;
  text-align: center;
  justify-content: center;
  padding: 1px;
}

.pickCoverCircle {
  width: 25px;
  height: 25px;
  z-index: 1000;
}
.check {
  width: 15px;
  height: 20px;
}

.storyCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  /* border: 1px solid black; */
  margin: 0px 10px;
  cursor: pointer;
  margin: 25px auto;
}

.imageTime {
  width: 40px;
  background-color: white;
  position: absolute;
  border-radius: 8px;
  opacity: 0.8;
  margin: 5px;
  font-size: 0.8rem;
}

.coverImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.storyNameInput {
  width: 200px;
  height: 30px;
  border: 1px solid rgb(219, 219, 219);
  margin: auto;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(250, 250, 250);
}

.storyNameInput:hover {
  border: 1px solid rgb(187, 140, 47);
}

.makeStoryGuide {
  font-size: 1.5rem;
  margin: 10px auto 0px auto;
}

.topModel {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.decideButton {
  background-color: black;
  width: 80px;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

.decideButtonVag {
  background-color: black;
  width: 80px;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  opacity: 0.3;
}
.decideButtonVag:hover {
  background-color: black;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .decideButton {
    background-color: black;
    width: 60px;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    content: 'Select some files';
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
  }

  .pickPicCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    position: absolute;
    right: 3px;
    text-align: center;
    justify-content: center;
    padding: 1px;
  }

  .pickCoverCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    position: absolute;
    right: 20px;
    text-align: center;
    justify-content: center;
    padding: 1px;
  }

  .pickCoverCircle {
    width: 15px;
    height: 15px;
    z-index: 1000;
  }
  .check {
    width: 10px;
    height: 15px;
  }

  .imageTime {
    width: 20px;
    background-color: white;
    position: absolute;
    border-radius: 8px;
    opacity: 0.8;
    margin: 5px;
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .decideButton {
    background-color: black;
    width: 40px;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    content: 'Select some files';
    cursor: pointer;
    padding: 5px;
    font-size: 0.8rem;
    transition: 0.3s;
  }

  .decideButtonVag {
    background-color: black;
    width: 40px;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    content: 'Select some files';
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
    opacity: 0.3;
    font-size: 0.8rem;
    margin: 10px;
  }
  .decideButtonVag:hover {
    background-color: black;
    border: 1px solid black;
  }
}
