@import './common/mixin';
@import './common/variables';
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', 'Noto Serif TC', serif, Arial, Helvetica, sans-serif;
}

/* StoryModal  */

.storyCancelImg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $background-whiter;
  opacity: 0.2;
  padding: 5px;
}

.cancelStory {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  height: 20px;
  margin-right: 10px;
  position: fixed;
  right: 0;
  top: 5px;
  z-index: 10000;
}

.cancelStoryNone {
  display: none;
}

.showStoryModalDiv {
  @include modalDiv(0.9, 6);
}

.showStoryModalDivNone {
  display: none;
}

.showStoryContentDiv {
  width: 100%;
  align-items: center;
  max-width: 85%;
  @include modalContent(7);
}

.showStoryContentDivDivNone {
  display: none;
}

/* MsgPopup */
.msgModalDiv {
  @include modalDiv(0.9, 4500);
}

.msgModalDivNone {
  display: none;
}

.msgContentDiv {
  @include modalContent(5000);
  min-width: 300px;
  height: 200px;
  align-items: center;
  max-width: 85%;
  background: white;
  border-radius: 8px;
}

.msgContentDivNone {
  display: none;
}

/* BarPopup */
.editContainerDiv {
  position: absolute;
  z-index: 3;
}
.editContainerDivNone {
  display: none;
}

.editContentDiv {
  box-shadow: 1px 1px 3px #ced1d6;
  border-radius: 8px;
  background: white;
  padding: 10px;
  line-height: 1.5rem;
  cursor: pointer;
  text-align: center;
}

.editContentDivNone {
  display: none;
}

/* LoginPopup */
.modalDiv {
  @include modalDiv(0.9, 3);
}
.modalDivNone {
  display: none;
}

.contentDiv {
  @include modalContent(2000);
  min-width: 300px;
  padding: 2%;
  align-items: center;
  border-radius: 8px;
  background: $background-whiter;
  margin: auto;
  box-shadow: 1px 1px 3px #ced1d6;
}

.contentWrapNone {
  display: none;
}

/* MakeStoryModal */

.storyModalDiv {
  @include modalDiv(0.9, 2000);
}

.storyModalDivNone {
  display: none;
}

.storyContentDiv {
  min-width: 300px;
  max-width: 1000px;
  width: 70%;
  padding: 2%;
  align-items: center;
  max-width: 85%;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #ced1d6;
  background: $background-whiter;
  margin: auto;
  position: relative;
}

/* PostModal */

.postModalDiv {
  @include modalDiv(0.9, 3);
}
.postModalDivNone {
  display: none;
}

.postContentDiv {
  max-width: 800px;
  padding: 2% 2% 3% 2%;
  align-items: center;
  z-index: 4;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #ced1d6;
  background: $background-whiter;
  margin: auto;
  position: relative;
}

.shareText {
  color: $background-white;
}

button:focus {
  outline: 0px;
  border-radius: 8px;
}
button:hover {
  background-color: rgb(187, 140, 47);
  border: $border-gold;
}

.modelWrap {
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contentWrap {
  @include modalContent(2500);
  animation-name: fade;
  animation-duration: 0.5s;
  width: 100vw;
  height: 80vh;
}

.topModel {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.moreBar {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.separater {
  @include separator(99%);
}

.buttonModal {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.leftModel {
  width: 48%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.postPicture {
  max-width: 100%;
  display: block;
  margin-top: 10px;
}

.rightModel {
  @include rightModal(300px);
  display: flex;
  justify-content: center;
}

.blockTitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: bold;
}

#postMsg {
  border: 1px solid black;
  height: 40%;
}
.postTime {
  font-size: 10px;
}

.cancelButton {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 15px;
  background: $background-whiter;
  z-index: 1000;
  transition: 0.3s;
}

.cancelWrap {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: $border;
  margin-top: 5px;
  margin: auto;
  padding: 3px;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 15px;
  right: 20px;
}

.cancelButtonImg {
  width: 40%;
  height: 40%;
  margin: auto;
}
.decideBlock {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.decideBlock input {
  display: none;
}
.labeluploadPic {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.uploadButton {
  background-color: black;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  font-size: 13.3px;
  transition: 0.3s;
}

.uploadButton:focus {
  outline: 0px;
  border-radius: 8px;
}
.uploadButton:hover {
  background-color: rgb(187, 140, 47);
  border: $border-gold;
  color: $background-whiter;
}

.decideButton {
  background-color: black;
  width: 80px;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

.decideButtonVag {
  margin: 10px;
  background-color: black;
  width: 80px;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  opacity: 0.3;
  cursor: text;
}
.decideButtonVag:hover {
  background-color: black;
  border: 1px solid black;
  cursor: text;
}

@media (max-width: 768px) {
  .postContentDiv {
    max-height: 650px;
  }
  .buttonModal {
    display: block;
    width: 100%;
  }
  .leftModel {
    display: flex;
    width: 100%;
  }
  .rightModel {
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
  }

  .decideButton {
    background-color: black;
    width: 60px;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    content: 'Select some files';
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
  }
  .uploadButton {
    background-color: black;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    content: 'Select some files';
    cursor: pointer;
    padding: 4px 10px 4px 10px;
    font-size: 13.3px;
    transition: 0.3s;
    display: inline-block;
  }

  .contentWrap {
    top: 2%;
    transform: translate(-50%, 0%);
  }

  .topModel {
    height: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .blockTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .rightModel {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
  }

  .decideButtonWrap {
    display: flex;
  }
}

@media (max-width: 425px) {
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
