button:focus {
  outline: 0px;
  border: 1px solid white;
  border-radius: 5px;
}

.modelWrap {
  width: 100%;
  /* background: blanchedalmond; */
}

.topModel {
  height: 50px;
  padding: 10px;
  /* background-color: brown; */
  width: 100%;
  display: flex;
  text-align: center;
}

.separater {
  border: 1px solid #ced1d6;
  width: 90%;
  margin: auto;
}

.buttonModal {
  display: flex;
  width: 100%;
}

.leftModel {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: auto;
  justify-content: center;
  /* background-color: burlywood; */
}

.postPicture {
  /* width: 100%; */
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

.rightModel {
  width: 50%;
  /* background-color: blanchedalmond;  */
  text-align: center;
  margin: 10px 10px;
  /* padding: 10px 10px; */
  align-items: center;
  min-height: 300px;
}

#postMsg {
  border: 1px solid black;
  height: 40%;
}
.postTime {
  font-size: 10px;
  font-family: 'Apple Chancery', sans-serif;
}
.cancelButton {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  width: 15px;
  height: 15px;
  background: rgb(250, 250, 250);
  cursor: pointer;
  z-index: 1000;
}

.decideBlock input {
  display: none;
}
.labeluploadPic {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.uploadButton {
  background-color: black;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}
.decideButton {
  background-color: black;
  width: 80px;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
}

@media (max-width: 768px) {
  .buttonModal {
    display: block;
    width: 100%;
  }
  .leftModel {
    display: flex;
    width: 100%;
  }
  .rightModel {
    width: 100%;
    min-height: 200px;
    margin: auto;
  }
}
