button:focus {
  outline: 0px;
  border: 1px solid white;
  border-radius: 5px;
}

.leftModel {
  display: flex;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.rightModel {
  width: 30%;
  /* background-color: blanchedalmond; */
  text-align: center;
  margin: auto 10px;
  align-items: center;
}

.cancelButton {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  height: 20px;
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
}

.decideButton {
  background-color: black;
  width: 80px;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
}
