@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', 'Noto Serif TC', serif, Arial, Helvetica, sans-serif;
  /* font-family: 'Noto Sans TC','Noto Serif TC', serif,Arial, Helvetica, sans-serif; */
}

button:focus {
  outline: 0px;
  /* border: 1px solid white; */
  border-radius: 5px;
}
button:hover {
  background-color: rgb(187, 140, 47);
  /* background-color: rgb(167, 142, 107); */
}

.modelWrap {
  width: 100%;
  /* background-color: lavender; */
}

.topModel {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.separater {
  /* border: 1px solid red; */
  width: 99%;
  margin: auto;
  border: 1px solid rgba(239, 239, 239);
}

.buttonModal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: indianred; */
}

.leftModel {
  width: 48%;
  align-items: center;
  justify-content: center;
  /* background-color: burlywood; */
  display: flex;
  /* border: 1px solid black; */
}

.postPicture {
  /* width: 100%; */
  max-width: 100%;
  display: block;
  margin-top: 10px;
}

.rightModel {
  width: 50%;
  text-align: center;
  align-items: center;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

.blockTitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: bold;
  /* margin-top: 20%; */
}

#postMsg {
  border: 1px solid black;
  height: 40%;
}
.postTime {
  font-size: 10px;
}
.cancelButton {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 15px;
  background: rgb(250, 250, 250);
  cursor: pointer;
  z-index: 1000;
}

.cancelButtonImg {
  width: 15px;
  height: 15px;

  float: right;
}
.decideBlock {
  /* border: black 1px solid; */
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
}
.decideBlock input {
  display: none;
}
.labeluploadPic {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.uploadButton {
  background-color: black;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  font-size: 13.3px;
}

.uploadButton:focus {
  outline: 0px;
  /* border: 1px solid white; */
  border-radius: 5px;
}
.uploadButton:hover {
  background-color: rgb(187, 140, 47);
}

.decideButton {
  background-color: black;
  width: 80px;
  color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  content: 'Select some files';
  cursor: pointer;
  padding: 5px;
}

@media (max-width: 768px) {
  .buttonModal {
    display: block;
    width: 100%;
  }
  .leftModel {
    display: flex;
    width: 100%;
  }
  .rightModel {
    width: 100%;
    min-height: 200px;
  }

  .decideButton {
    background-color: black;
    width: 60px;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    content: 'Select some files';
    cursor: pointer;
    padding: 5px;
  }
  .uploadButton {
    background-color: black;
    color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    content: 'Select some files';
    cursor: pointer;
    padding: 4px 10px 4px 10px;
    font-size: 13.3px;
  }
}
