.postWrap {
  padding: 0 50px 0 50px;
}

.post {
  background-color: antiquewhite;
  text-align: center;
  border-radius: 5px;
}

.postHeader {
  height: 40px;
  width: 225px;
  margin: auto;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  display: flex;
}

.postProfileImage {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  /* border-radius: 50px; */
}

.postInteraction {
  height: 40px;
  width: 225px;
  margin: auto;
  padding-top: 10px;
  display: flex;
}

.separater {
  border: 1px solid gray;
}

.photo {
  width: 225px;
  margin: auto;
}
