.loading {
  margin-top: 250px;
}

.wrap {
  max-width: 975px;
  margin: auto;
}

.postWrap {
  margin-top: 130px;
  width: 100%;
}

.noPostWrap {
  display: flex;
  margin-top: 100px;
  font-size: 1.5rem;
  width: 100%;
  /* background-color: blue; */
  justify-content: center;
}

.noPostGuide {
  margin-right: 10px;
}
.form {
  display: flex;
  height: 100%;
  /* min-height: 30px; */
  /* box-sizing: border-box; */
}
.commentInput {
  border: 1px solid rgb(255, 255, 255) !important;
  margin: 5px 10px;
  padding: 0 8px;
  flex: 1;
  height: 30px;
  background-image: url(../img//pen.svg);
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.8rem !important;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.commentInput:focus {
  border: 1px solid rgb(187, 140, 47) !important;
  border-radius: 8px;
  /* margin-top: 5px;
  height: 60%; */
}

.post input {
  border: none;
  font-size: 1rem;
}

.post input:focus {
  border: 1px solid rgb(187, 140, 47);
  border-radius: 8px;
  margin-top: 5px;
}

.post {
  background: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 1px 1px 3px rgb(219, 219, 219);
  border-radius: 8px;
  width: 300px;
}

.postHeader {
  height: 40px;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-items: center;
  padding: 20px 0 10px 0;
  display: flex;
}

.new {
  width: 30px;
  height: 30px;
}
.postProfileImage {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 50px;
  cursor: pointer;
  /* margin: auto 10px; */
}

.postIssuerName {
  margin-left: 10px;
  cursor: pointer;
}

.authorPic {
  font-family: sans-serif;
  position: relative;
  /* opacity: 0.6; */
  /* transition: 0.3s; */
  transition: 1s;
  /* display: flex;
  justify-content: center; */
  transition: all 0.2s ease-in;
  cursor: pointer;
  /* background-color: blanchedalmond; */
}
.authorPic:hover .picOverlay {
  /* width: */
  height: 100%;
  opacity: 1;
}

.picOverlay {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0;
  background-color: rgba(48, 48, 48, 0.3);
  width: 90%;
  transition: 0.5s ease;
  overflow: hidden;
  height: 100%;
  opacity: 0;
}

.content {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  overflow: hidden;
  word-break: break-all;
  /* background-color: blue; */
}

.content div {
  font-size: 16px;
  display: block;
  color: white;
}

.postInteraction {
  width: 100%;
  /* margin: auto; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  /* position: relative; */
}

.postLikeCount {
  padding-bottom: 2px;
}

.postTag {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 15px;
  /* font-family: sans-serif; */
}

.postComments {
  margin: 10px;
  font-size: 0.5rem;
  text-align: left;
  padding: 0 5px;
  cursor: pointer;
}

.separater {
  border-top: 1px solid rgb(219, 219, 219);
  width: 100%;
  margin: auto;
}

.photo {
  width: 90%;
  /* margin: 3px auto; */
  min-height: 250px;
}

.editPostBar {
  margin-left: auto;
}

input:focus {
  outline: none;
}

.title {
  position: fixed;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  font-size: 2rem;
  max-width: 300px;
}
.contentDiv {
  min-width: 300px;
  max-width: 300px;
  max-height: 700px;
  width: 70%;
  padding: 2% 2% 3% 3%;
  align-items: center;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #ced1d6;
  background: rgb(250, 250, 250);
}

@media (max-width: 425px) {
  .postWrap {
    padding: 0px;
  }
  /* .title {
    display: none;
  } */
}
