@import './common/mixin';
@import './common/variables';

.loading {
  margin-top: 250px;
}

.wrap {
  max-width: 975px;
  margin: auto;
}

.postWrap {
  width: 100%;
}
.post {
  .postProfileImage,
  .postIssuerNameWelcome,
  .postIssuerName,
  .authorPic,
  .postLikeCount,
  .postComments {
    cursor: pointer;
  }
}

.noPostWrap {
  display: flex;
  margin-top: 100px;
  font-size: 1.5rem;
  width: 100%;
  justify-content: center;
}

.noPostGuide {
  margin-right: 10px;
}
.form {
  display: flex;
  height: 100%;
}
.commentInput {
  border: 1px solid $background-whiter !important;
  margin: 5px 10px;
  padding: 0 8px;
  flex: 1;
  height: 30px;
  background-image: url(../img//pen.svg);
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.8rem !important;
  border-radius: 8px;
  background: $background-whiter;
}

.commentInput:focus {
  border: $border-gold !important;
  border-radius: 8px;
}

.post input {
  border: none;
  font-size: 1rem;
}

.post input:focus {
  border: $border-gold;
  border-radius: 8px;
  margin-top: 5px;
}

.post {
  background: $background-whiter;
  text-align: center;
  position: relative;
  border: $border;
  box-shadow: 1px 1px 3px rgb(219, 219, 219);
  border-radius: 8px;
  width: 300px;
}

.postHeader {
  height: 40px;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-items: center;
  padding: 20px 0 10px 0;
  display: flex;
}

.new {
  width: 30px;
  height: 30px;
}

.nocursor {
  .postProfileImage,
  .postIssuerName,
  .authorPic,
  .postTag,
  a {
    cursor: default !important;
  }
}

.postProfileImage {
  width: 30px;
  height: 30px;
  border: $border;
  border-radius: 50px;
}

.postIssuerNameWelcome {
  margin-left: 10px;
}

.authorPic {
  font-family: sans-serif;
  position: relative;
  transition: 1s;
  transition: all 0.2s ease-in;
}
.picContainerUpload {
  min-height: 250px;
  width: 90%;
  height: 100%;
  margin: auto;
}

.picContainer {
  width: 90%;
  height: 100%;
  margin: auto;
}

.photo {
  width: 100%;
  display: block;
  object-fit: cover;
}

.authorPic:hover .picOverlay {
  height: 100%;
  opacity: 1;
}

.picOverlay {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0;
  background-color: rgba(48, 48, 48, 0.3);
  width: 90%;
  transition: 0.5s ease;
  overflow: hidden;
  height: 100%;
  opacity: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  overflow: hidden;
  word-break: break-all;
  margin: auto;
}

.content div {
  font-size: 16px;
  display: block;
  color: white;
}

.postInteraction {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.postLikeCount {
  padding-bottom: 2px;
}

.postTag {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 15px;
}

.postComments {
  margin: 10px;
  font-size: 0.5rem;
  text-align: left;
  padding: 0 5px;
}

.separater {
  @include separator(100%);
}

.editPostBar {
  margin-left: auto;
}

input:focus {
  outline: none;
}

.title {
  position: fixed;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  font-size: 2rem;
  max-width: 300px;
}
.contentDiv {
  min-width: 300px;
  max-width: 300px;
  max-height: 700px;
  width: 70%;
  padding: 2% 2% 3% 3%;
  align-items: center;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #ced1d6;
  background: $background-white;
}

@media (max-width: 425px) {
  .postWrap {
    padding: 0px;
  }
}
