.loading {
  margin-top: 250px;
}

.wrap {
  max-width: 975px;
  margin: auto;
}

.postWrap {
  margin-top: 50px;
  cursor: pointer;
  width: 100%;
}
.form {
  height: 35px;
}
.commentInput {
  border: none;
  width: 90%;
  background: rgb(250, 250, 250);
}

.post input {
  width: 90%;
  border: none;
  padding-top: 10px;
  font-size: 0.5rem;
}

.post {
  /* background-color: antiquewhite; */
  text-align: center;
  position: relative;
  /* box-shadow: 5px 5px 5px #ced1d6; */
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
}

.postHeader {
  height: 40px;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  display: flex;
}

.new {
  width: 30px;
  height: 30px;
}
.postProfileImage {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 50px;
  /* margin: auto 10px; */
}

.postIssuerName {
  margin-left: 10px;
}

.authorPic {
  font-family: sans-serif;
  position: relative;
  /* opacity: 0.6; */
  /* transition: 0.3s; */
  transition: 1s;
  display: flex;
  justify-content: center;
  /* background-color: blanchedalmond; */
}
.authorPic:hover .picOverlay {
  /* width: */
  height: 100%;
  opacity: 0.8;
}

.picOverlay {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0;
  background-color: rgba(48, 48, 48, 0.3);
  width: 90%;
  transition: 0.5s ease;
  overflow: hidden;
  height: 0;
}

.content {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  overflow: hidden;
  word-break: break-all;
  /* background-color: blue; */
}

.content div {
  font-size: 16px;
  display: block;
  color: white;
}

.postInteraction {
  width: 100%;
  /* margin: auto; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.postLikeCount {
  padding-bottom: 2px;
}

.postTag {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 15px;
  /* font-family: sans-serif; */
}

.postComments {
  margin: 10px;
  font-size: 0.5rem;
  text-align: left;
  padding: 0 5px;
}

.separater {
  border: 1px solid rgb(219, 219, 219);
  width: 90%;
  margin: auto;
}

.photo {
  width: 90%;
  /* margin: 3px auto; */
  min-height: 250px;
}

.editPostBar {
  margin-left: auto;
}

input:focus {
  outline: none;
}

.title {
  position: fixed;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  font-size: 2rem;
  max-width: 300px;
}
.contentDiv {
  min-width: 300px;
  max-width: 300px;
  max-height: 700px;
  width: 70%;
  padding: 2% 2% 3% 3%;
  align-items: center;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ced1d6;
  background: rgb(250, 250, 250);
}

@media (max-width: 425px) {
  .postWrap {
    padding: 0px;
  }
  /* .title {
    display: none;
  } */
}
