.tabs {
  display: flex;
  width: 80%;
  height: 20px;
  /* border: black 1px solid; */
  margin: 80px auto;
}

.tab {
  border-right: 1px solid black;
  width: 20%;
  text-align: center;
}

.tab:hover {
  color: rgb(187, 140, 47);
  cursor: pointer;
}

.postWrap {
  /* padding: 0 80px 0 80px; */
  width: 70%;
  margin-top: 50px;
  cursor: pointer;
  margin: auto;
  /* border: 1px solid red; */
}

@media (max-width: 425px) {
  .postWrap {
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
    margin: auto;
    /* border: 1px solid red; */
  }
} ;
