.loading {
  margin-top: 250px;
}

.profileShowWrap {
  margin: 40px auto auto auto;
  height: 300px;
  max-width: 975px;

  /* border: 1px solid black; */
}

.profileShow {
  height: 300px;
  /* border: 1px solid blue; */
  width: 100%;
  margin: auto;
  display: flex;
}

.profilePic {
  max-width: 200px;
  max-height: 200px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin: auto 0px;
}

.profileInfo {
  /* border: 1px solid black; */
  margin: auto 0px;
  margin-left: 10%;
  font-size: 1.5rem;
  align-items: center;
}

.followerBlock {
  /* border: 1px solid black; */
  display: flex;
}
.followerInfo {
  font-size: 100%;
  margin: 20px 20px 20px 0px;
}

.block {
  width: 120px;
  height: 180px;
  background-color: rgb(215, 191, 156);
  top: 50px;
  right: 180px;
  position: absolute;
  /* position: relative; */
}

.profileName {
  position: absolute;
  top: 90px;
  right: 240px;
  z-index: 2;
}

.profileWords {
  position: absolute;
  top: 130px;
  right: 260px;
  z-index: 2;
}

@media (max-width: 425px) {
  .followerBlock {
    /* border: 1px solid black; */
    display: block;
  }
} ;
