.loading {
  margin: 400px auto 100px auto;
}

.tabs {
  display: flex;
  width: 80%;
  height: 20px;
  /* border: black 1px solid; */
  margin: 80px auto;
}

.tab {
  border-right: 1px solid black;
  width: 20%;
  text-align: center;
}

.tab:hover {
  color: rgb(187, 140, 47);
  cursor: pointer;
}

.postWrap {
  /* padding: 0 80px 0 80px; */
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
  margin: auto;
  /* border: 1px solid red; */
}

.wrap {
  max-width: 975px;
  margin: auto;
}
.noPostUpload {
  display: flex;
  margin-top: 100px;
  font-size: 1.5rem;
  width: 100%;
  /* background-color: blue; */
  justify-content: center;
}
.noPostGuide {
  margin-right: 10px;
}

@media (max-width: 425px) {
  .postWrap {
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
    margin: auto;
    /* border: 1px solid red; */
  }
} ;
