.loading {
  margin: 400px auto 100px auto;
}

.storyBarWrap {
  /* border: 1px solid red; */
  display: flex;
  /* width: 70%; */
  margin: 10px auto;
  justify-content: center;
  position: relative;
}
.storyBarWrap:hover .barleftarrow {
  display: block;
}
.storyBarWrap:hover .barrightarrow {
  display: block;
}

.storyCircleWrap {
  display: flex;
  width: 70%;
  /* border: 1px solid pink; */
  /* justify-content: center; */
  overflow: hidden;
}
.storyCircleContain {
  display: flex;
  /* border: 1px solid black; */
  /* background-color: gold; */
}

.story {
  display: block;
  /* border: 1px solid black; */
  text-align: center;
  position: relative;
}
.story:hover .storyDeleteCross {
  display: block;
}
.storyCircle {
  max-width: 150px;
  max-height: 150px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(219, 219, 219);
  margin: 0px 20px;
  cursor: pointer;
  object-fit: cover;
  align-items: center;
  position: relative;
}
.storyCirclePlus {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.storyName {
  width: 20vw;
  width: 100px;
  margin: 15px auto;
}

.storyDeleteCross {
  display: none;
  width: 10px;
  height: 10px;
}
.storyDeleteCross:hover {
  display: block;
  width: 10px;
  height: 10px;
}

.storyEditBar {
  position: fixed;
  right: calc(50% - 212px);
  top: 30px;
  z-index: 10000;
  width: 100px;
  height: 100px;
}

.storyBlockWrap:hover .rightarrow {
  display: block;
}

.storyBlockWrap:hover .leftarrow {
  display: block;
}

.rightarrow {
  width: 10px;
  height: 10px;
  position: fixed;
  right: calc(50% - 212px);
  top: 50%;
  cursor: pointer;
  display: none;
}

.leftarrow {
  width: 10px;
  height: 10px;
  position: fixed;
  right: calc(50% + 240px);
  top: 50%;
  cursor: pointer;
  display: none;
}

.storyEdit {
  width: 50px;
  height: 50px;
  position: fixed;
  right: calc(50% + 240px);
  top: 50%;
  cursor: pointer;
}

.barrightarrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15%;
  transform: translate(50%, -50%);
  top: 50%;
  cursor: pointer;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 50%;
  z-index: 3;
  display: none;
}
.barleftarrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
  top: 50%;
  cursor: pointer;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 50%;
  z-index: 3;
  display: none;
}

.cancelStory {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
  position: fixed;
  right: calc(50% - 212px);
  top: 5px;
  z-index: 10000;
}

.deleteStory {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}
