@import './common/variables';

.loading {
  margin: 400px auto 100px auto;
}

.wrap {
  max-width: 975px;
  margin: auto;
}

.storyBarWrap {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  position: relative;
  width: 100%;
}
.storyBarWrap:hover .barleftarrow {
  display: block;
}
.storyBarWrap:hover .barrightarrow {
  display: block;
}

.storyCircleWrap {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.storyCircleContain {
  display: flex;
}

.storyBlock {
  margin: auto;
  width: 420px;
}

.story {
  display: block;
  text-align: center;
  position: relative;
}
.story:hover .storyDeleteCross {
  display: block;
}
.storyCircle {
  max-width: 150px;
  max-height: 150px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: $background-white;
  border: $border;
  margin: 0px 20px;
  cursor: pointer;
  object-fit: cover;
  align-items: center;
  position: relative;
}
.storyCirclePlus {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.storyName {
  width: 20vw;
  width: 100px;
  margin: 15px auto;
}

.storyDeleteCross {
  display: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.storyDeleteCross:hover {
  display: block;
  width: 10px;
  height: 10px;
}

.storyEditBar {
  position: fixed;
  right: calc(50% - 212px);
  top: 30px;
  z-index: 10000;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.storyBlockWrap:hover .rightarrow {
  display: block;
  border-radius: 50%;
  background-color: $background-whiter;
  opacity: 0.3;
}

.storyBlockWrap:hover .leftarrow {
  display: block;
  border-radius: 50%;
  background-color: $background-whiter;
  opacity: 0.3;
}

.rightarrow {
  width: 15px;
  height: 15px;
  position: fixed;
  right: calc(50% - 212px);
  top: 50%;
  cursor: pointer;
  display: none;
  padding: 5px;
}

.leftarrow {
  width: 15px;
  height: 15px;
  position: fixed;
  right: calc(50% + 240px);
  top: 50%;
  cursor: pointer;
  display: none;
  padding: 5px;
}

.storyEdit {
  width: 50px;
  height: 50px;
  position: fixed;
  right: calc(50% + 240px);
  top: 50%;
  cursor: pointer;
}

.barrightarrow {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  top: 45%;
  cursor: pointer;
  background: $background-cursor;
  border-radius: 50%;
  z-index: 3;
  display: block;
}
.barleftarrow {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 3px;
  transform: translate(-50%, -50%);
  top: 45%;
  cursor: pointer;
  background: $background-cursor;
  border-radius: 50%;
  z-index: 3;
  display: none;
}

.cancelStory {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
  position: fixed;
  right: 0;
  top: 5px;
  z-index: 10000;
}

.deleteStory {
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}

.noPostUpload {
  display: flex;
  text-align: center;
  margin-top: 200px;
  font-size: 1.5rem;
  width: 100%;
}
.noPostGuide {
  margin-right: 10px;
}
